beautifulsoup4==4.14.3
biopython==1.86
bs4==0.0.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
idna==3.11
lxml==6.0.2
mechanicalsoup==1.4.0
numpy==2.4.2
packaging==26.0
pandas==3.0.0
prompt-toolkit==3.0.52
pycparser==3.0
pygments==2.19.2
python-dateutil==2.9.0.post0
radian==0.6.15
rchitect==0.4.9
requests==2.32.5
ruff==0.15.1
six==1.17.0
soupsieve==2.8.3
typing-extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
